<!-- <p>product works!</p> -->
<section class="container">

    <h2 class="p-2">Popular brands :</h2>




    <!-- <input [(ngModel)]="searchName" type="search" placeholder=" search By Name" class="form-control w-75 mx-auto my-3 product "> -->


    <div class="row g-2">
        @for (brand of brandsList |paginate: { itemsPerPage: 15, currentPage: page }; track brand._id)
        {
        <div class="col-md-3">
            <div class=" p-2 brand cr"  [routerLink]="['/detailsbrand',brand._id]">
                <div class="cr">
                    <img [src]="brand.image" alt="" class="w-100">
                    <h3 class="h5 text-main">{{brand.name}}</h3>


                </div>
            </div>
        </div>
        }


    </div>
    <div class="pagination d-flex justify-content-center  ">
        <pagination-controls (pageChange)="page = $event" [previousLabel]="'previous'"
            [nextLabel]="'next'"></pagination-controls>
    </div>

</section>