<section class="py-3 w-75 m-auto">
    <h1 class="text-main h3">details cat :</h1>
        
    <div class="row  product container m-auto align-items-center">
        <div class="col-md-4">
            <div>

                <img class="w-75" [src]="detailsBrand.image" alt="">




            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h2> <span class="text-main">brand Name</span> : {{detailsBrand.name}}</h2>



            </div>


        </div>

    </div>

</section>